<div class="row">
    <div class="col-md-9">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-md-3">
      <div class="list-group">
        <a routerLink="./" class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          Dynamic Filter
        </a>
        <a routerLink="UTCTimeToLocalTime" class="list-group-item" [routerLinkActive]="['active']">
          UTCTimeToLocalTime
        </a>
        <a class="list-group-item" [routerLinkActive]="['active']">
          -
        </a>
        <a class="list-group-item" [routerLinkActive]="['active']">
          -
        </a>
      </div>
    </div>
  </div>
  